/* Ensures that the bullet points, and the text that follows them, line up horizontally. */
.emoji-bullet-point {
    display: inline-block;
    text-align: center;
    min-width: 22px;
    margin-right: 10px;
}
