.navbar-brand {
    /* Fallback to Bootstrap's default fonts. */
    font-family: 'Monoton', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    word-spacing: 10px;
    font-size: 45px;
    white-space: normal;
}
